      <footer class="footer-component">
        <div class="padding-global">
          <div class="container-large">
            <div class="padding-vertical padding-xxlarge">
              <div class="padding-bottom padding-xxlarge">
                <div class="w-layout-grid footer-top-wrapper">
                  <div id="w-node-c27f2c5d-b327-1107-7de5-b69cf17e09e7-f17e09df" class="w-layout-grid footer-link-list">
                    <a id="footer-home-button" data-w-id="c27f2c5d-b327-1107-7de5-b69cf17e09e8" href="/" class="footer-link mixpanel-trigger">Home</a>
                    <a id="footer-companies-button" data-w-id="c27f2c5d-b327-1107-7de5-b69cf17e09ea" href="/companies" class="footer-link mixpanel-trigger">Companies</a>
                    <a id="footer-products-button" data-w-id="2fead138-3d3c-9eff-8696-06b8fefbc7e5" href="/products" class="footer-link mixpanel-trigger w-node-_2fead138-3d3c-9eff-8696-06b8fefbc7e5-f17e09df">Products</a>
                    <a id="footer-patents-button" data-w-id="e6e427ac-d2eb-b918-4b25-9989e132bdc8" href="/patents" class="footer-link mixpanel-trigger w-node-e6e427ac-d2eb-b918-4b25-9989e132bdc8-f17e09df">Patents</a>
                    <a id="footer-contact-button" data-w-id="c27f2c5d-b327-1107-7de5-b69cf17e09f0" href="/let-us-chat" class="footer-link mixpanel-trigger">Let&#x27;s Chat</a>
                  </div>
                  <a href="/" id="footer-logo-button" class="footer-logo-link mixpanel-trigger w-node-c27f2c5d-b327-1107-7de5-b69cf17e09e5-f17e09df w-nav-brand"><img src="/images/logo.svg" loading="eager" width="Auto" alt="William Trevillyan&#x27;s Product Portfolio Logo" class="image-4"></a>
                  <div id="w-node-c27f2c5d-b327-1107-7de5-b69cf17e09f2-f17e09df" class="w-layout-grid footer-social-list">
                    <a id="footer-linkedin-button" href="https://www.linkedin.com/in/williamtrevillyan/" target="_blank" class="footer-social-link mixpanel-trigger w-node-b70c3571-8873-111f-665e-fecbd563d07e-f17e09df w-inline-block">
                      <div class="linkedin-icon w-embed"><svg xmlns="http://www.w3.org/2000/svg" fill="currentcolor" viewbox="0 0 60 60">
                          <path fill="currentcolor" fill-rule="evenodd" d="M60 60H48V39.003c0-5.76-2.541-8.974-7.098-8.974-4.959 0-7.902 3.349-7.902 8.974V60H21V21h12v4.386s3.765-6.607 12.249-6.607C53.736 18.78 60 23.96 60 34.674V60ZM7.326 14.763C3.279 14.763 0 11.457 0 7.38 0 3.306 3.279 0 7.326 0c4.044 0 7.323 3.306 7.323 7.38.003 4.077-3.279 7.383-7.323 7.383ZM0 60h15V21H0v39Z" clip-rule="evenodd"></path>
                        </svg></div>
                    </a>
                    <a id="footer-twitter-button" href="https://twitter.com/wgtrevillyan" target="_blank" class="footer-social-link mixpanel-trigger w-inline-block">
                      <div class="twitter-icon w-embed"><svg xmlns="http://www.w3.org/2000/svg" fill="currentcolor" viewbox="0 0 60 60">
                          <path fill="currentcolor" fill-rule="evenodd" d="M18.87 54c22.641 0 35.025-18.47 35.025-34.485 0-.525 0-1.047-.036-1.567A24.795 24.795 0 0 0 60 11.674a24.816 24.816 0 0 1-7.068 1.907 12.21 12.21 0 0 0 5.412-6.704 24.911 24.911 0 0 1-7.818 2.943c-4.662-4.88-12.459-5.116-17.418-.526-3.195 2.96-4.554 7.372-3.561 11.58-9.897-.49-19.119-5.091-25.371-12.661C.909 13.75 2.58 20.833 7.989 24.389A12.364 12.364 0 0 1 2.4 22.874v.154c.003 5.769 4.134 10.736 9.876 11.879a12.434 12.434 0 0 1-5.556.206c1.611 4.939 6.234 8.321 11.499 8.419A24.946 24.946 0 0 1 2.931 48.73 25.615 25.615 0 0 1 0 48.556a35.261 35.261 0 0 0 18.87 5.435" clip-rule="evenodd"></path>
                        </svg></div>
                    </a>
                    <a id="footer-github-button" href="https://github.com/wgtrevillyan" target="_blank" class="footer-social-link mixpanel-trigger w-inline-block">
                      <div class="github-icon w-embed"><svg xmlns="http://www.w3.org/2000/svg" fill="currentcolor" viewbox="0 0 60 60" preserveaspectratio="xMidYMid meet" style="width: 100%; height: 100%;"><g transform="translate(-3, 0) scale(0.414)"><path fill="currentcolor" fill-rule="evenodd" d="m53.1 141c4.6 0 5.9-1.8 5.9-4.1s0-7.3-.1-14.4c-23.9 5.1-29-11.4-29-11.4-3.9-9.7-9.6-12.4-9.6-12.4-7.8-5.2.6-5.1.6-5.1 8.6.6 13.2 8.7 13.2 8.7 7.7 13 20.1 9.2 25 7 .4-4.3 2.3-8.4 5.5-11.4-19.1-2.1-39.2-9.4-39.2-41.8-.1-8.4 3.1-16.6 8.9-22.7-1-2.1-3.9-10.7.7-22.4 0 0 7.2-2.3 23.7 8.7 14.1-3.8 28.9-3.8 43 0 16.3-10.9 23.6-8.7 23.6-8.7 4.6 11.6 1.7 20.2.9 22.4 5.8 6.1 8.9 14.3 8.8 22.7 0 32.5-20.1 39.6-39.3 41.7 3 2.5 5.8 7.7 5.8 15.6 0 11.4-.1 20.4-.1 23.1 0 2.2 1 4 5.9 4z" clip-rule="evenodd"></path></g></svg></div>
                    </a>
                  </div>
                </div>
              </div>
              <div class="padding-bottom padding-xxlarge">
                <div id="w-node-_27aacbb2-2d73-28c0-c17d-a3677188c07b-f17e09df" class="copyright">Copyright © 2026 Trevillyan Labs, LLC. All rights reserved.</div>
              </div>
            </div>
          </div>
        </div>
      </footer>
